In [296]:
import pandas as pd
df = pd.read_csv("Comp1 - Loans.csv")

In [297]:
df.head()

,Currency,Balance Amount,Actual Outstanding in SGD,Maturity Date,Account Number,Interest Recievable,Bucket,IP/IR bucket,Exchange Rate,Base Ccy,Interest flow,IR Amount,Principal + Interest,Bucket (Principal + Interest),Bucket IR
0,USD,"4,83,587.87","15,08,363.34",31-Jan-17,88160000082,25343.9472,8 days to 14 days,Over 3 wks to 1 mth,1.44655,"6,99,534.04","2,681.30","36,661.29","7,02,215.34",Over 3 wks to 1 mth,Over 3 wks to 1 mth
1,USD,"5,59,143.68","8,08,829.30",17-Feb-18,88160000082,25343.9472,Up to 1 Year,Over 3 wks to 1 mth,1.44655,"8,08,829.30","23,396.80",0,"8,32,226.10",Over 3 wks to 1 mth,Over 1 yr to 2 yrs
2,USD,"1,83,000.00","50,47,012.91",05-Jan-17,88160000183,1598.2692,Up to 3 Months,Over 1 mth to 3 mths,1.44655,"2,64,718.65","67,831.71","2,311.98","3,32,550.36",Over 1 mth to 3 mths,Up to 1 week
3,USD,"1,83,000.00","2,64,718.65",16-Aug-17,88160000183,1598.2692,Up to 6 Months,Over 1 mth to 3 mths,1.44655,"2,64,718.65","66,465.05",0,"3,31,183.70",Over 1 mth to 3 mths,Over 6 mths to 1 yr
4,USD,"1,83,000.00","2,64,718.65",27-Jan-18,88160000183,1598.2692,Up to 1 Year,Over 1 mth to 3 mths,1.44655,"2,64,718.65","62,785.95",0,"3,27,504.60",Over 1 mth to 3 mths,Over 1 yr to 2 yrs

In [298]:
# need some data cleaning before identifying datatypes...
# some column names have blank space need to remove it to read easier
df.columns = df.columns.str.strip()

def remove_commas(x): return str(x).replace(',', '')

# Apply the function to all columns of the DataFrame
df = df.applymap(remove_commas)

In [299]:
df

,Currency,Balance Amount,Actual Outstanding in SGD,Maturity Date,Account Number,Interest Recievable,Bucket,IP/IR bucket,Exchange Rate,Base Ccy,Interest flow,IR Amount,Principal + Interest,Bucket (Principal + Interest),Bucket IR
0,USD,483587.87,1508363.34,31-Jan-17,88160000082,25343.9472,8 days to 14 days,Over 3 wks to 1 mth,1.44655,699534.04,2681.30,36661.29,702215.34,Over 3 wks to 1 mth,Over 3 wks to 1 mth
1,USD,559143.68,808829.30,17-Feb-18,88160000082,25343.9472,Up to 1 Year,Over 3 wks to 1 mth,1.44655,808829.30,23396.80,0,832226.10,Over 3 wks to 1 mth,Over 1 yr to 2 yrs
2,USD,183000.00,5047012.91,05-Jan-17,88160000183,1598.2692,Up to 3 Months,Over 1 mth to 3 mths,1.44655,264718.65,67831.71,2311.98,332550.36,Over 1 mth to 3 mths,Up to 1 week
3,USD,183000.00,264718.65,16-Aug-17,88160000183,1598.2692,Up to 6 Months,Over 1 mth to 3 mths,1.44655,264718.65,66465.05,0,331183.70,Over 1 mth to 3 mths,Over 6 mths to 1 yr
4,USD,183000.00,264718.65,27-Jan-18,88160000183,1598.2692,Up to 1 Year,Over 1 mth to 3 mths,1.44655,264718.65,62785.95,0,327504.60,Over 1 mth to 3 mths,Over 1 yr to 2 yrs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,USD,66074.80,95580.50,07-May-18,88260016902,1647.3006,Up to 5 Years,Over 1 mth to 3 mths,1.44655,95580.50,7465.04,0,103045.54,Over 1 mth to 3 mths,Over 1 yr to 2 yrs
964,USD,66074.80,95580.50,06-Dec-18,88260016902,1647.3006,Up to 5 Years,Over 1 mth to 3 mths,1.44655,95580.50,6303.81,0,101884.31,Over 1 mth to 3 mths,Over 1 yr to 2 yrs
965,USD,66074.80,95580.50,04-May-17,88260016902,1647.3006,Up to 5 Years,Over 1 mth to 3 mths,1.44655,95580.50,4429.26,0,100009.76,Over 1 mth to 3 mths,Over 3 mths to 6 mths
966,USD,66074.80,95580.50,19-Sep-18,88260016902,1647.3006,Over 5 Years,Over 1 mth to 3 mths,1.44655,95580.50,2986.02,0,98566.52,Over 1 mth to 3 mths,Over 1 yr to 2 yrs
967,USD,66074.82,95580.53,03-Mar-18,88260016902,1647.3006,Over 5 Years,Over 1 mth to 3 mths,1.44655,95580.53,1509.60,0,97090.12,Over 1 mth to 3 mths,Over 1 yr to 2 yrs

In [300]:
from datetime import datetime
from dateutil import parser

max_before_dot = 0
max_after_dot = 0

def get_datatype(element):
    global max_before_dot
    global max_after_dot
    try:
        int_no = int(element)
        return "Integer"
    except ValueError:
        pass

    try:
        float_no = float(element)
        float_string = str(float_no)
        
        before_dot = float_string.split('.')[0]
        after_dot = float_string.split('.')[1]

        if len(before_dot) > max_before_dot:
            max_before_dot = len(before_dot)

        if len(after_dot) > max_after_dot:
            max_after_dot = len(after_dot)

        # print(len(after_dot))
        
        return "Decimal"
    except ValueError:
        pass
        
    try:
        # dt_1 = datetime.strptime(element, "%d-%b-%y")
        parsed_date = parser.parse(element)
        detected_format = parsed_date.strftime('%Y-%m-%d')
        return "DateTime"
    except ValueError:
        pass
        
        
    try:
        str_1 = str(element)
        return "String"
    except ValueError:
        pass
    
    return "Unknown"

In [365]:
def get_dataframe_datatype(df):
    dd = dict() # creating new dictionary for column and its data type

    for key in df.keys():
        # using set eleminating duplicates in keywords..
        my_series = df[key].apply(lambda x: get_datatype(x))

        # getting more than one datatype like integer and decimals both so fiding counts for each datatype
        occurrence_series = my_series.value_counts()
        # print(key)
        # print(occurrence_series)
        # considering most frequent datatypes as final datatypes of that particular column...
        # finding max value for each datatype
        # max_value = max(occurrence_dict.values())
        # max_keys = [key for key, value in occurrence_dict.items(
        # ) if value == max_value]  # max values datatype
        # first_key = next(iter(occurrences_dict))
        
        # print(first_key)
        if 'Decimal' in occurrence_series:
            # print("decimal existing in list....")
            dd[key] = "Decimal(" + str(max_before_dot) + ", " + str(max_after_dot) + ")"
        # logic for identifying string-categorical
        elif occurrence_series.index[0] == "String" and len(set(df[key].duplicated())) > 1:
        # set will contain true and false both if duplicated...
                dd[key] = "String-Categorical"
        else:
            # generating dict for each column and its datatype
            dd[key] = occurrence_series.index[0]
    return dd

In [366]:
dd = get_dataframe_datatype(df)

String    968
Name: Currency, dtype: int64
Decimal    968
Name: Balance Amount, dtype: int64
Decimal    968
Name: Actual Outstanding in SGD, dtype: int64
DateTime    968
Name: Maturity Date, dtype: int64
Integer    968
Name: Account Number, dtype: int64
Decimal    968
Name: Interest Recievable, dtype: int64
String    968
Name: Bucket, dtype: int64
String    968
Name: IP/IR bucket, dtype: int64
Decimal    968
Name: Exchange Rate, dtype: int64
Decimal    968
Name: Base Ccy, dtype: int64
Decimal    952
Integer     16
Name: Interest flow, dtype: int64
Integer    788
Decimal    180
Name: IR Amount, dtype: int64
Decimal    968
Name: Principal + Interest, dtype: int64
String    968
Name: Bucket (Principal + Interest), dtype: int64
String    968
Name: Bucket IR, dtype: int64

In [364]:
dd

{'Currency': 'String-Categorical',
 'Balance Amount': 'Decimal(8, 5)',
 'Actual Outstanding in SGD': 'Decimal(8, 5)',
 'Maturity Date': 'DateTime',
 'Account Number': 'Integer',
 'Interest Recievable': 'Decimal(8, 5)',
 'Bucket': 'String-Categorical',
 'IP/IR bucket': 'String-Categorical',
 'Exchange Rate': 'Decimal(8, 5)',
 'Base Ccy': 'Decimal(8, 5)',
 'Interest flow': 'Decimal(8, 5)',
 'IR Amount': 'Decimal(8, 5)',
 'Principal + Interest': 'Decimal(8, 5)',
 'Bucket (Principal + Interest)': 'String-Categorical',
 'Bucket IR': 'String-Categorical'}

In [136]:
df.head()

,Currency,Balance Amount,Actual Outstanding in SGD,Maturity Date,Account Number,Interest Recievable,Bucket,IP/IR bucket,Exchange Rate,Base Ccy,Interest flow,IR Amount,Principal + Interest,Bucket (Principal + Interest),Bucket IR
0,USD,483587.87,1508363.34,31-Jan-17,88160000082,25343.9472,8 days to 14 days,Over 3 wks to 1 mth,1.44655,699534.04,2681.30,36661.29,702215.34,Over 3 wks to 1 mth,Over 3 wks to 1 mth
1,USD,559143.68,808829.30,17-Feb-18,88160000082,25343.9472,Up to 1 Year,Over 3 wks to 1 mth,1.44655,808829.30,23396.80,0,832226.10,Over 3 wks to 1 mth,Over 1 yr to 2 yrs
2,USD,183000.00,5047012.91,05-Jan-17,88160000183,1598.2692,Up to 3 Months,Over 1 mth to 3 mths,1.44655,264718.65,67831.71,2311.98,332550.36,Over 1 mth to 3 mths,Up to 1 week
3,USD,183000.00,264718.65,16-Aug-17,88160000183,1598.2692,Up to 6 Months,Over 1 mth to 3 mths,1.44655,264718.65,66465.05,0,331183.70,Over 1 mth to 3 mths,Over 6 mths to 1 yr
4,USD,183000.00,264718.65,27-Jan-18,88160000183,1598.2692,Up to 1 Year,Over 1 mth to 3 mths,1.44655,264718.65,62785.95,0,327504.60,Over 1 mth to 3 mths,Over 1 yr to 2 yrs

In [185]:
from dateutil import parser

# Example date strings
date_strings = [
    "2024-03-28",
    "28-03-2024",
    "03/28/2024",
    "28 Mar 2024",
    "March 28, 2024",
    "Mar 28th, 2024",
    "2024/13/28",
    "28-Mer-2024",
    "28th of March, 2024"
]


for date_str in date_strings:
    try:
        parsed_date = parser.parse(date_str)
        print(parsed_date)
        detected_format = parsed_date.strftime('%Y-%m-%d')
        # print(f"Date string: {date_str} => Detected format: {detected_format}")
    except ValueError:
        print(f"Date string: {date_str} => Format detection failed")

2024-03-28 00:00:00
2024-03-28 00:00:00
2024-03-28 00:00:00
2024-03-28 00:00:00
2024-03-28 00:00:00
2024-03-28 00:00:00
Date string: 2024/13/28 => Format detection failed
Date string: 28-Mer-2024 => Format detection failed
2024-03-28 00:00:00

In [318]:
my_dict = {'mango': 1, 'banana': 2, 'cherry': 3}
key_to_check = 'mango'

if key_to_check in my_dict.keys():
    print("Key exists")
else:
    print("Key does not exist")

Key exists