In [2]:
import pandas as pd
import numpy as np
# Example DataFrame
df = pd.DataFrame({
    'A': [1, 'N/A', np.nan, 'NULL', 'nan'],
    'B': [np.nan, pd.NaT, '#N/A', 'foo', '1.#IND'],
    'C': [None, 'n/a', 'NaN', 'null', '1.#QNAN'],
    'D': ['#NA', None, '<NA>', pd.NaT, '2023-01-01']
})

In [3]:
df

      A       B        C           D
0     1     NaN     None         #NA
1   N/A     NaT      n/a        None
2   NaN    #N/A      NaN        <NA>
3  NULL     foo     null         NaT
4   nan  1.#IND  1.#QNAN  2023-01-01

In [4]:
df.fillna("")

      A       B        C           D
0     1                          #NA
1   N/A              n/a
2          #N/A      NaN        <NA>
3  NULL     foo     null
4   nan  1.#IND  1.#QNAN  2023-01-01

In [5]:
values_to_replace = ["", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan", 
                     "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None", 
                     "n/a", "nan", "null", np.nan, pd.NaT, None]

# Replace all specified values with an empty string
df.replace(values_to_replace, "")

   A    B C           D
0  1
1
2
3     foo
4            2023-01-01

In [6]:
df1 = pd.DataFrame({
    'A': [1, 'N/A', np.nan, 'NULL', 'nan'],
    'B': [np.nan, pd.NaT, '#N/A', 'foo', '1.#IND'],
    'C': [None, 'n/a', 'NaN', 'null', '1.#QNAN'],
    'D': ['#NA', None, '<NA>', pd.NaT, '2023-01-01']
})

In [7]:
df1.to_csv("1.csv")

In [8]:
ddf = pd.read_csv("1.csv")

In [9]:
ddf

   Unnamed: 0    A    B   C           D
0           0  1.0  NaN NaN         NaN
1           1  NaN  NaN NaN         NaN
2           2  NaN  NaN NaN         NaN
3           3  NaN  foo NaN         NaN
4           4  NaN  NaN NaN  2023-01-01

In [10]:
ddf = pd.read_table("1.csv")

In [11]:
ddf.fillna("")

                          ,A,B,C,D
0                        0,1,,,#NA
1                      1,N/A,,n/a,
2                 2,,#N/A,NaN,<NA>
3                 3,NULL,foo,null,
4  4,nan,1.#IND,1.#QNAN,2023-01-01

In [12]:
ddf

                          ,A,B,C,D
0                        0,1,,,#NA
1                      1,N/A,,n/a,
2                 2,,#N/A,NaN,<NA>
3                 3,NULL,foo,null,
4  4,nan,1.#IND,1.#QNAN,2023-01-01

In [13]:
ddf = pd.read_table("1.csv").to_pandas()

AttributeError: 'DataFrame' object has no attribute 'to_pandas'

In [ ]:
df1 = pd.read_csv("12.csv", dtype=str)

In [ ]:
df1

   Currency Code      Rate
0            USD    82.725
1            GBP   99.5275
2            EUR    88.135
3            JPY    0.6262
4            CHF   89.5975
5            AUD     56.17
6            CAD   61.0525
7            SGD    61.655
8            SEK    7.9175
9            DKK   11.8525
10           NOK    8.3825
11           HKD    10.605
12           MYR     18.78
13           NZD    52.395
14           THB    2.3875
15           BHD  219.4025
16           AED    22.525
17           KES   0.67038
18           IDR   0.00533
19           QAR   22.6475
20           OMR   214.875
21           EGP    3.3425
22           SAR    21.995
23           KWD  270.2825
24           ZAR    4.8725
25           CNH   0.11913
26           INR         1
27           USD    82.725
28           GBP   99.5275
29           EUR    88.135
30           JPY    0.6262
31           CHF   89.5975
32           AUD     56.17
33           CAD   61.0525
34           SGD    61.655
35           SEK    7.9175
36           DKK   11.8525
37           NOK    8.3825
38           HKD    10.605
39           MYR     18.78
40           NZD    52.395
41           THB    2.3875
42           BHD  219.4025
43           AED    22.525
44           KES   0.67038
45           IDR   0.00533
46           QAR       NaN
47           OMR   214.875
48           EGP    3.3425
49           SAR         0
50           KWD         0
51           ZAR    4.8725
52           CNH   0.11913
53           INR         1

In [ ]:
df1.fillna("")

   Currency Code      Rate
0            USD    82.725
1            GBP   99.5275
2            EUR    88.135
3            JPY    0.6262
4            CHF   89.5975
5            AUD     56.17
6            CAD   61.0525
7            SGD    61.655
8            SEK    7.9175
9            DKK   11.8525
10           NOK    8.3825
11           HKD    10.605
12           MYR     18.78
13           NZD    52.395
14           THB    2.3875
15           BHD  219.4025
16           AED    22.525
17           KES   0.67038
18           IDR   0.00533
19           QAR   22.6475
20           OMR   214.875
21           EGP    3.3425
22           SAR    21.995
23           KWD  270.2825
24           ZAR    4.8725
25           CNH   0.11913
26           INR         1
27           USD    82.725
28           GBP   99.5275
29           EUR    88.135
30           JPY    0.6262
31           CHF   89.5975
32           AUD     56.17
33           CAD   61.0525
34           SGD    61.655
35           SEK    7.9175
36           DKK   11.8525
37           NOK    8.3825
38           HKD    10.605
39           MYR     18.78
40           NZD    52.395
41           THB    2.3875
42           BHD  219.4025
43           AED    22.525
44           KES   0.67038
45           IDR   0.00533
46           QAR
47           OMR   214.875
48           EGP    3.3425
49           SAR         0
50           KWD         0
51           ZAR    4.8725
52           CNH   0.11913
53           INR         1

In [14]:
df1 = pd.read_csv("11.csv", dtype=str)

In [26]:
df1

   Currency Code      Rate
0            USD    82.725
1            GBP   99.5275
2            EUR    88.135
3            JPY    0.6262
4            CHF   89.5975
5            AUD     56.17
6            CAD   61.0525
7            SGD    61.655
8            SEK    7.9175
9            DKK   11.8525
10           NOK    8.3825
11           HKD    10.605
12           MYR     18.78
13           NZD    52.395
14           THB    2.3875
15           BHD  219.4025
16           AED    22.525
17           KES   0.67038
18           IDR   0.00533
19           QAR   22.6475
20           OMR   214.875
21           EGP    3.3425
22           SAR    21.995
23           KWD  270.2825
24           ZAR    4.8725
25           CNH   0.11913
26           INR         1
27           USD    82.725
28           GBP   99.5275
29           EUR    88.135
30           JPY    0.6262
31           CHF   89.5975
32           AUD     56.17
33           CAD   61.0525
34           SGD    61.655
35           SEK    7.9175
36           DKK   11.8525
37           NOK    8.3825
38           HKD    10.605
39           MYR     18.78
40           NZD    52.395
41           THB    2.3875
42           BHD  219.4025
43           AED    22.525
44           KES   0.67038
45           IDR   0.00533
46           QAR       NaN
47           OMR   214.875
48           EGP    3.3425
49           SAR         0
50           KWD         0
51           ZAR    4.8725
52           CNH   0.11913
53           INR         1

In [41]:
df1[(df1["Rate"] == "1")]

   Currency Code Rate
26           INR    1
53           INR    1

In [29]:
source_col_df

Empty DataFrame
Columns: [Currency Code, Rate]
Index: []

In [54]:
df1.fillna("")

   Currency Code      Rate
0            USD    82.725
1            GBP   99.5275
2            EUR    88.135
3            JPY    0.6262
4            CHF   89.5975
5            AUD     56.17
6            CAD   61.0525
7            SGD    61.655
8            SEK    7.9175
9            DKK   11.8525
10           NOK    8.3825
11           HKD    10.605
12           MYR     18.78
13           NZD    52.395
14           THB    2.3875
15           BHD  219.4025
16           AED    22.525
17           KES   0.67038
18           IDR   0.00533
19           QAR   22.6475
20           OMR   214.875
21           EGP    3.3425
22           SAR    21.995
23           KWD  270.2825
24           ZAR    4.8725
25           CNH   0.11913
26           INR         1
27           USD    82.725
28           GBP   99.5275
29           EUR    88.135
30           JPY    0.6262
31           CHF   89.5975
32           AUD     56.17
33           CAD   61.0525
34           SGD    61.655
35           SEK    7.9175
36           DKK   11.8525
37           NOK    8.3825
38           HKD    10.605
39           MYR     18.78
40           NZD    52.395
41           THB    2.3875
42           BHD  219.4025
43           AED    22.525
44           KES   0.67038
45           IDR   0.00533
46           QAR
47           OMR   214.875
48           EGP    3.3425
49           SAR         0
50           KWD         0
51           ZAR    4.8725
52           CNH   0.11913
53           INR         1

In [60]:
import pandas as pd
dd = pd.read_parquet('23.parquet', engine='pyarrow')

In [61]:
dd

   Currency Code      Rate
0            USD    82.725
1            GBP   99.5275
2            EUR    88.135
3            JPY    0.6262
4            CHF   89.5975
5            AUD     56.17
6            CAD   61.0525
7            SGD    61.655
8            SEK    7.9175
9            DKK   11.8525
10           NOK    8.3825
11           HKD    10.605
12           MYR     18.78
13           NZD    52.395
14           THB    2.3875
15           BHD  219.4025
16           AED    22.525
17           KES   0.67038
18           IDR   0.00533
19           QAR   22.6475
20           OMR   214.875
21           EGP    3.3425
22           SAR    21.995
23           KWD  270.2825
24           ZAR    4.8725
25           CNH   0.11913
26           INR         1
27           USD    82.725
28           GBP   99.5275
29           EUR    88.135
30           JPY    0.6262
31           CHF   89.5975
32           AUD     56.17
33           CAD   61.0525
34           SGD    61.655
35           SEK    7.9175
36           DKK   11.8525
37           NOK    8.3825
38           HKD    10.605
39           MYR     18.78
40           NZD    52.395
41           THB    2.3875
42           BHD  219.4025
43           AED    22.525
44           KES   0.67038
45           IDR   0.00533
46           QAR       nan
47           OMR   214.875
48           EGP    3.3425
49           SAR         0
50           KWD         0
51           ZAR    4.8725
52           CNH   0.11913
53           INR         1

In [62]:
dd.fillna("")

   Currency Code      Rate
0            USD    82.725
1            GBP   99.5275
2            EUR    88.135
3            JPY    0.6262
4            CHF   89.5975
5            AUD     56.17
6            CAD   61.0525
7            SGD    61.655
8            SEK    7.9175
9            DKK   11.8525
10           NOK    8.3825
11           HKD    10.605
12           MYR     18.78
13           NZD    52.395
14           THB    2.3875
15           BHD  219.4025
16           AED    22.525
17           KES   0.67038
18           IDR   0.00533
19           QAR   22.6475
20           OMR   214.875
21           EGP    3.3425
22           SAR    21.995
23           KWD  270.2825
24           ZAR    4.8725
25           CNH   0.11913
26           INR         1
27           USD    82.725
28           GBP   99.5275
29           EUR    88.135
30           JPY    0.6262
31           CHF   89.5975
32           AUD     56.17
33           CAD   61.0525
34           SGD    61.655
35           SEK    7.9175
36           DKK   11.8525
37           NOK    8.3825
38           HKD    10.605
39           MYR     18.78
40           NZD    52.395
41           THB    2.3875
42           BHD  219.4025
43           AED    22.525
44           KES   0.67038
45           IDR   0.00533
46           QAR       nan
47           OMR   214.875
48           EGP    3.3425
49           SAR         0
50           KWD         0
51           ZAR    4.8725
52           CNH   0.11913
53           INR         1

In [42]:
import datetime

# Example date
date = datetime.datetime(2024, 9, 3)

# Convert the date to a timestamp
timestamp = int(date.timestamp())

print("Timestamp as an integer:", timestamp)

Timestamp as an integer: 1725301800