In [29]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [30]:
from openpyxl import load_workbook
workbook = load_workbook(filename="./sections_data (1).xlsx")
workbook.sheetnames

['Sheet1']

In [31]:
main_sheet = workbook["Sheet1"]

In [32]:
main_sheet["A1"].value

In [33]:
def get_rows(sheet):
    row_list = list()
    for row in sheet.iter_rows(values_only=True):
        row_list.append(row)
        
    return row_list

In [34]:
rows = get_rows(main_sheet)

In [35]:
rows

[(None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None),
 (None, None, 'Col1', 'Col2', 'Col3', None, 'Col11', 'Col12'),
 (None, None, 100, 100, 100, None, 200, 200),
 (None, None, 100, 100, 100, None, 200, 200),
 (None, None, 100, 100, 100, None, 200, 200),
 (None, None, None, None, None, None, None, None),
 (None, None, None, 'Col1', 'Col2', 'Col3', 'Col4', None),
 (None, None, None, 300, 300, 300, 300, None),
 (None, None, None, 300, 300, 300, 300, None),
 (None, None, None, 300, 300, 300, 300, None),
 (None, None, None, 300, 300, 300, 300, None)]

In [36]:
def get_rows_till_none(ls):
    
    if len(ls) == 0:
        return
    list1 = []
    list2 = []
    for item in ls:
        if item != None:
            list1.append(item)
        else:
            break
    
    list2 = ls[len(list1)+1:]
    return list1, get_rows_till_none(list2)

In [37]:
my_dict = dict()

cnt = 0
for i in rows:
    # print(i)
    key = "key" + str(cnt)
    list1, list2 = get_rows_till_none(i)
    print("list1")
    # arr[0].append(list1)
    if len(list1) == 0:
        break

    # my_dict[key].append(list1)
    
    
    print("list2")
    print(list2)

list1

In [38]:
my_dict

{}

In [39]:
def find_none_values(data, row=0, col=0):
    # Base case: Check if row index is out of range
    if row >= len(data):
        return

    # Check if current value is None
    if data[row][col] is None:
        print("None value found at row:", row, "column:", col)

    # Move to the next column
    next_col = col + 1

    # Check if the column index is out of range
    if next_col >= len(data[row]):
        # Move to the next row
        find_none_values(data, row + 1, 0)
    else:
        # Recursively explore horizontally
        find_none_values(data, row, next_col)


# Sample data
data = [
    ('Col1', 'Col2', 'Col3', None, 'Col11', 'Col12', None, 'Col111', 'Col122',
     None, 'Col44', 'Col55', 'Col66', None, 'Col44', 'Col55', 'Col66'),
    (100, 100, 100, None, 100, 100, None, 100, 100,
     None, 100, 100, 100, None, 100, 100, 100),
    # Add more rows here...
]

# Call the recursive function
find_none_values(rows)

None value found at row: 0 column: 0
None value found at row: 0 column: 1
None value found at row: 0 column: 2
None value found at row: 0 column: 3
None value found at row: 0 column: 4
None value found at row: 0 column: 5
None value found at row: 0 column: 6
None value found at row: 0 column: 7
None value found at row: 1 column: 0
None value found at row: 1 column: 1
None value found at row: 1 column: 2
None value found at row: 1 column: 3
None value found at row: 1 column: 4
None value found at row: 1 column: 5
None value found at row: 1 column: 6
None value found at row: 1 column: 7
None value found at row: 2 column: 0
None value found at row: 2 column: 1
None value found at row: 2 column: 5
None value found at row: 3 column: 0
None value found at row: 3 column: 1
None value found at row: 3 column: 5
None value found at row: 4 column: 0
None value found at row: 4 column: 1
None value found at row: 4 column: 5
None value found at row: 5 column: 0
None value found at row: 5 column: 1
None value found at row: 5 column: 5
None value found at row: 6 column: 0
None value found at row: 6 column: 1
None value found at row: 6 column: 2
None value found at row: 6 column: 3
None value found at row: 6 column: 4
None value found at row: 6 column: 5
None value found at row: 6 column: 6
None value found at row: 6 column: 7
None value found at row: 7 column: 0
None value found at row: 7 column: 1
None value found at row: 7 column: 2
None value found at row: 7 column: 7
None value found at row: 8 column: 0
None value found at row: 8 column: 1
None value found at row: 8 column: 2
None value found at row: 8 column: 7
None value found at row: 9 column: 0
None value found at row: 9 column: 1
None value found at row: 9 column: 2
None value found at row: 9 column: 7
None value found at row: 10 column: 0
None value found at row: 10 column: 1
None value found at row: 10 column: 2
None value found at row: 10 column: 7
None value found at row: 11 column: 0
None value found at row: 11 column: 1
None value found at row: 11 column: 2
None value found at row: 11 column: 7

In [101]:
def find_none_values_rowwise(data, row=0, col=0):
    
    if row >= len(data):  #Check if row index is out of range
        return row

    # Check if current value is None
    if data[row][col] is None:
        return row
    else:
        return find_none_values_rowwise(data, row + 1, col)

In [102]:
def find_none_values_colwise(data, row=0, col=0):

    if col >= len(data[0]):  # Check if col index is out of range
        return col

    # Check if current value is None
    # print(row,col)
    if data[row][col] is None:
        return col
    else:
        return find_none_values_colwise(data, row , col + 1)

In [103]:
type(rows)

list

In [104]:
import pandas as pd
df = pd.DataFrame(rows)

In [105]:
df

       0     1     2     3     4     5      6      7
0   None  None  None  None  None  None   None   None
1   None  None  None  None  None  None   None   None
2   None  None  Col1  Col2  Col3  None  Col11  Col12
3   None  None   100   100   100  None    200    200
4   None  None   100   100   100  None    200    200
5   None  None   100   100   100  None    200    200
6   None  None  None  None  None  None   None   None
7   None  None  None  Col1  Col2  Col3   Col4   None
8   None  None  None   300   300   300    300   None
9   None  None  None   300   300   300    300   None
10  None  None  None   300   300   300    300   None
11  None  None  None   300   300   300    300   None

In [106]:
col_end = find_none_values_colwise(rows, 0, 3)
col_end

3

In [1]:
### finding sets column wise.................

row_start = 0
col_start = 0

key = 0
dd_rows = dict()


while (True):
    dd_rows["key" + str(key)] = dict()

    while (True):
        col_end = find_none_values_colwise(rows, row_start, col_start)        

        if (col_end != 0 and col_start != col_end):
            print("colum wise")
            print(col_start, col_end)            
            #keeping indexes in dict
            dd_rows["key" + str(key)]["col_start"] = col_start
            dd_rows["key" + str(key)]["col_end"] = col_end
            break
        else:
            if (col_start + 1 >= len(rows[0])):# all columns
                row_start = row_start + 1 # start from next row...
                col_start = 0
            col_start = col_start + 1

    while (True):
        row_end = find_none_values_rowwise(rows, row_start, col_start)

        if (row_end != 0):
            print("rowwise")
            print(row_start, row_end)
            dd_rows["key" + str(key)]["row_start"] = row_start
            dd_rows["key" + str(key)]["row_end"] = row_end
            break
        else:
            if (row_start + 1 >= len(rows)):  # all rows
                col_start = col_start + 1  # start from new row...
                row_start = 0
            row_start = row_start + 1

    key = key + 1
    if col_end + 1 >= len(rows[0]):
        break
    col_start = col_end + 1

    if row_end + 1 >= len(rows):
        break
    row_end = row_end + 1

NameError: name 'find_none_values_colwise' is not defined

In [108]:
### row wise from 2nd dataset...

row_start = 0
col_start = 0
row_cnt = 0
last_row = 0
while(True):
    dd_rows["key" + str(key)] = dict()
    
    
    while (True):
        row_end = find_none_values_rowwise(rows, row_start, col_start)
        
        if(row_end != 0 and row_start != row_end):
            print("row wise.....")
            print(row_start, row_end)
            #keeping indexes in dict
            dd_rows["key" + str(key)]["row_start"] = row_start
            dd_rows["key" + str(key)]["row_end"] = row_end
            last_row = row_end
            row_cnt = row_cnt + 1          
            break
        else:
            if (row_start + 1 >= len(rows)):  # all rows
                col_start = col_start + 1  # start from next rcol...
                row_start = 0
                if(row_cnt > 0):
                    row_start = last_row
                # else:
                #     row_start = 0
            row_start = row_start + 1
            
    while (True):
        col_end = find_none_values_colwise(rows, row_start, col_start)

        if (col_end != 0):
            print("colum wise")
            print(col_start, col_end)
            # keeping indexes in dict
            dd_rows["key" + str(key)]["col_start"] = col_start
            dd_rows["key" + str(key)]["col_end"] = col_end
            
            break
        else:
            if (col_start + 1 >= len(rows[0])):  # all columns
                row_start = row_start + 1  # start from new row...
                col_start = 0
            col_start = col_start + 1

    key = key + 1
    
    # print(row_start, row_end)
    
    if row_end + 1 >= len(rows):
        break
    row_start = row_end + 1
    # col_start = 0
    
    # if col_end + 1 >= len(rows[0]):
    #     break
    # col_end = col_end + 1   
    # print("row start---" + str(row_start))

row wise.....
2 6
colum wise
2 5
row wise.....
7 12
colum wise
3 7

In [109]:
df

       0     1     2     3     4     5      6      7
0   None  None  None  None  None  None   None   None
1   None  None  None  None  None  None   None   None
2   None  None  Col1  Col2  Col3  None  Col11  Col12
3   None  None   100   100   100  None    200    200
4   None  None   100   100   100  None    200    200
5   None  None   100   100   100  None    200    200
6   None  None  None  None  None  None   None   None
7   None  None  None  Col1  Col2  Col3   Col4   None
8   None  None  None   300   300   300    300   None
9   None  None  None   300   300   300    300   None
10  None  None  None   300   300   300    300   None
11  None  None  None   300   300   300    300   None

In [124]:
final_df = pd.DataFrame()

for key in dd_rows:
    col_start = dd_rows[key]["col_start"]
    col_end = dd_rows[key]["col_end"]
    row_start = dd_rows[key]["row_start"]
    row_end = dd_rows[key]["row_end"]

    
    # final_df.append(df.loc[row_start:row_end, col_start:col_end])

    print(df.loc[row_start:row_end, col_start:col_end])

      2     3     4     5
2  Col1  Col2  Col3  None
3   100   100   100  None
4   100   100   100  None
5   100   100   100  None
6  None  None  None  None
       6      7
2  Col11  Col12
3    200    200
4    200    200
5    200    200
6   None   None
      2     3     4     5
2  Col1  Col2  Col3  None
3   100   100   100  None
4   100   100   100  None
5   100   100   100  None
6  None  None  None  None
       3     4     5     6     7
7   Col1  Col2  Col3  Col4  None
8    300   300   300   300  None
9    300   300   300   300  None
10   300   300   300   300  None
11   300   300   300   300  None

In [123]:
final_df

Empty DataFrame
Columns: []
Index: []